@font-face {
  font-family: "digital 7 italic";
  src: url(../fonts/digital-7-italic.ttf);
}

*:focus {
  outline: none;
}

html {
  background: hsl(0, 0%, 20%);
  background: linear-gradient(120deg, hsl(0, 0%, 15%), hsl(0, 0%, 30%)) fixed;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Oxygen Mono", monospace;
  font-size: 1.5rem;
  letter-spacing: 12px;
  padding: 40px 0 20px;
  text-transform: lowercase;
}

main {
  padding-bottom: 50px;
}

.calculator {
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 6px;
  margin: 0 auto 30px;
  max-width: 320px;
  padding: 20px 0;
}

.screen {
  background: hsl(192, 39%, 85%);
  background: linear-gradient(to right, hsl(192, 39%, 65%), hsl(192, 39%, 85%)) fixed;
  border-radius: 4px;
  font-family: "digital 7 italic", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  height: 50px;
  letter-spacing: 2px;
  margin: 2px auto 0;
  overflow: auto;
  padding-top: 20px;
  padding-right: 5px;
  text-align: right;
  width: 250px;
}

.button-group {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button,
button:hover,
button:focus {
  background: #00779e;
  box-shadow: -1px 3px 2px hsl(0, 0%, 0%);
  border-radius: 4px;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  height: 45px;
  margin: 5px;
  width: 55px;
}

button:active {
  box-shadow: -1px 1px 2px hsl(0, 0%, 0%);
  transform: translateY(2px);
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
}

.number,
.number:hover,
.number:active,
.number:focus {
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 20%);
}

.clear,
.clear:hover,
.clear:active,
.clear:focus {
  background: #f3878c;
  color: hsl(0, 0%, 20%);
}

footer {
  background: hsla(0, 0%, 100%, 0.1);
  bottom: 0;
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  left: 0;
  letter-spacing: 2px;
  padding: 14px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: hsl(192, 39%, 65%);
}

@media only screen and (orientation: landscape) {

  .calculator {
    max-width: 400px;
  }

  .screen {
    width: 350px;
  }

  button,
  button:hover,
  button:active,
  button:focus {
    height: 40px;
    width: 80px;
  }
}
