@font-face {
  font-family: "digital 7 italic";
  src: url(../fonts/digital-7-italic.ttf);
}

* {
  box-sizing: border-box;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: #333;
  color: #fff;
  font: 14px Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  min-height: 100%;
  padding: 2% 20px 40px;
  position: relative;
  text-align: center;
}

h1 {
  font: 2.4rem "Oxygen Mono", monospace;
  font-weight: 400;
  letter-spacing: 12px;
  text-transform: lowercase;
}

.calculator {
  background-color: #808080;
  border: none;
  border-radius: 6px;
  margin: 0 auto 30px;
  max-width: 320px;
  padding: 20px 0;
}

footer {
  background-color: #404040;
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  letter-spacing: 2px;
  margin: 0;
  padding: 12px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #83bbc9;
}
