$black: hsl(0, 0%, 0%);
$calc-button-color: #00779e;
$clear-button-color: #f3878c;
$light-blue: hsl(192, 39%, 65%);
$info-blue: hsl(204, 100%, 26%);
$monospace-font: "Oxygen Mono", monospace;
$screen-font: "digital 7 italic", sans-serif;
